_target_: src.models.dlib_module.DlibModule

net:
  _target_: src.models.components.simple_resnet.SimpleResnet
  model_name: resnet18
  weights: DEFAULT
  output_shape: [68, 2]

optimizer:
  _target_: torch.optim.Adam
  _partial_: true # needed to set params
  lr: 0.001
  weight_decay: 0.0

scheduler: 
  _target_: torch.optim.lr_scheduler.ReduceLROnPlateau
  _partial_: true # needed to set optimizer
  mode: min
  factor: 0.1
  patience: 10
